[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
prospector = "*"
gunicorn = "*"
django-allauth = "*"
psycopg2-binary = "*"
python-social-auth = {extras = ["django"],version = "*"}
django-heroku = "*"
psycopg2 = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
