*{
    /* border: 1px dotted grey; */
    /*big heading font: font-family: 'Acme', sans-serif; */
    /* little heading font: font-family: 'Fresca', sans-serif;  */
    /* plain text font: font-family: 'Quicksand', sans-serif; */
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    /*colors
    yellow: #e6e687
    orange: #e6b787
    blue: #87b7e6
    purple: #8787e6
    green: #87e687
    red: #e68987
    light gray: #e6e6e6
    medium gray: #b7b7b7
    dark gray: #878787

    Do not put the following color pairs besides eachother or overlapping:
    -blue & green/purple/gray
    -green & red/yellow/gray
    
    */

}
body{
    height: 100%;
}
h1{
    font-family: 'Acme', sans-serif;
}
h2{
    font-family: 'Acme', sans-serif;
}
h3{
    font-family: 'Acme', sans-serif;
}
h4{
    font-family: 'Fresca', sans-serif;
}
label{
    font-family: 'Fresca', sans-serif;
}
ul {
    list-style: none;
    
}
.content{
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 2rem;
    /* background-color: #e6e6e6; */
}
#header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items:center;
    background-color: #e6e687;
    border-bottom: 2px solid #8787e6;
}
#nav-bar {
    list-style: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: #e6e687;
}
.nav-item{
    background-color: #e6e687;

}
a{
    color: black;
}
.nav-item:hover{
    color: #8787e6;
    text-decoration:  underline;

}
#company-title{
    background-color: #e6e687;  
}
.login-message-div, .logout-section {
    padding: 1rem 3rem 1rem 3rem;
}
/* added this google section as placeholder- we can change the google font or put in image instead */
.google {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
}
.care-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.care-part{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items:center;
}
img{
    background-color: #8787e6;
    width: 300px;
}
