*{
    background-color: #e6e687;
    color:#6e5858;
}
#nav-bar{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}
#header {
    display:flex;
    flex-direction: column;
    justify-content: row;
    background-color: #8787e6;
}