{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Support Me Team</h1>
<p>Three developers who saw a need for inclusivity in the realm of bra sizing and support. Abby, Juan, and Yifaa are committed to making bra sizing fun, accessible, and easy to do from your home!</p>
<div class="support-me-team-pics">

    <span class="abby-pic">
        <img src="{% static '/images/abby-picture.jpg' %}">
        <p>Abby Demarest</p>
    </span>

    <span class="juan-pic">
        <img src="{% static '/images/juan-picture.jpg' %}">
        <p>Juan Polanco</p>
    </span>

    <span class="yifaa-pic">
        <img src="{% static '/images/yifaayapuncich.jpg' %}">
        <p>Yifaa Yapuncich</p>
    </span>
</div>

<section class="faq-section">
    <h1>FAQs</h1>
    <div class="faq-div">
        <p class="question">What is a center gore and how does it impact me?</p>
        <p> The <strong class="key-word">center gore</strong> is the peice of cloth/support between both cups. A center gore that is wider will be more comfortable for people whose breasts are placed further apart. A center gore that not only connects the cups but also connects along the bottom of the cups to the band will be comfortable for people who would like more support.
        </p>
    </div>
    <div class="faq-div">
        <p class="question">What should I consider when choosing between bra with underwire and a wireless bra?</p>
        <p>Usually bras with wire give a bit more support. Just like having an ethernet cable means you have a more reliable network connection, a bra with a wire means you will have more support. But wireless bras usually work just as well and provide flexibility of movement. Just like Wifi they can provide you the support you need, but may give an unreliable internet connectionat times.
        </p>
    </div>
    <div class="faq-div">
        <p class="question">What are bra frames and how do I choose the best one for me?</p>
        <p> Bra frames take into account the shape of the support (underwire area) and coverage (how full the cup is). The most common ones are Plunge, Demi and Full, with a few vartions off these three.
        Plunge frames fits and supports most breast shape. Demi frames are more comfortable and give the best coverage and support for breast shapes that are more teardrop shaped. Full frames are more comfortable and give the best coverage and support for breast shapes that are round or are teardrop shaped but also a bit more round at the top.
        </p>
    </div>
    <div class="faq-div">
        <p class="question">What are the types of bra padding?</p>
        <p> The main levels of padding are unlined,
        lightly-lined, and push-up. Unlined bras have no padding, and have one or two layers of cloth or lace.
        Lightly-lined bras have a small layer of padding with a thin layer of cloth or lace on both sides. Push-up bras are similar to lightly-lined bras but have more padding in the lower half of the cup. Level of padding is also preference based but keep in mind that lightly-lined and push-up bras will give more support than unlined bras.
        </p>
    </div>
    <section class="faq-div">
        <p class="question">What about bras with removable pads?</p>
        <p>
            When it comes to padding there are also bras that have removable pads. A bra with removable padding can be a great choice for many reasons. They will make push-up bras less pushupy. So you can take the removable pads out if you like the push-up bra but want to have less push-up on one occasion and more push-up on another. You can also take out the removable pad and put a nursing pad or a prosthetic in its place. 
            <br><br>
            Bras with removable pads can also help even things out. Let us be real: the majority of people are asymmetrical to some degree, meaning one breast is more full than the other. Some peope use removable pads to even out asymmetry. You can remove a pad from one cup and not use it or you can place it in the spot with the removable pad for the other cup.
            <br><br>
            Our bodies are amazing and you don't have to change a thing unless you want to- but if you want
            customization of padding, bras with removable pads these are great!
        </p>
    </section>
    <section class="faq-div">
        <p class="question">What should I know about straps?</h3>
        <div>
            Straps connect the cups from the front with the band in the back. They can help with support. The main types of strap configurations are t-back, racerback, classic back, and ballet back. 
            <br><br>
            T-back and Racerback are similar because instead of having two straps that go from each cup to each side of the band in the back they have two straps that go from each cup to the top of the back of the neck and then combine into one strap which then goes to the band. This can give a level of support to the bra and can be good for people with
            narrower shoulders. 
            <br><br>
            Classic back and ballet backs have two straps that go one from each cup to each side of
            the band in the back. These are good for any body type, especially people with broader shoulders. 
            <br><br>
            Your straps may be too loose if they keep falling off your shoulder down your arm, that isn't giving you any support! Tighten them up a little :) Bra straps also shouldn't dig too much into your skin. If your straps are uncomfortable and are digging into your skin it may mean you have the wrong bra size, or that another type of bra strap might be a good idea for you. Bras with thicker straps can help with this. 
        </div>
    </section>
    <section class="faq-div">
        <p class="question">What should I know about the band?</p>
        <p>The band runs from the middle of the back to the sides of the cups. There are two sections to most bands: one section has a set of hooks on it and the other section has a few different set of eyes on it (for the hooks
        to connect to). 
        <br><br> When you get a new bra always wear it on the loosest set of eyes (ones at the end of the band). Bras will stretch over time, so as it stretches you can set it to the middle set of eyes and then the tightest set of eyes (ones closest to the cup). When you get to this set of eyes know that you may soon need a new bra, because the support of the band is wearing out.
        <br><br> There are also bras that have smooth fitting bands.
        </p>
    </section>
    <section class="faq-div">
        <p class="question">Acknowledgements:</p>
        <p>Fabric background on homepage image designed by <a href="https://www.spoonflower.com/profiles/holli_zollinger" target=blank>Holli Zollinger</a>.</p>
    </section>
</section>
{% endblock %}