{% extends "base.html" %}

{% block content %}
<h1>Support Me Team</h1>
<p>Three developers who saw a need for inclusivity in the realm of bra sizing and support. Abby, Juan, and Yifaa are committed to making bra sizing fun, accessible, and easy to do from your home!</p>
<div class="support-me-team-pics">

    <span class="abby-pic">
        <img src="http://placekitten.com/150/150">
        <p>Abby Demarest</p>
    </span>

    <span class="juan-pic">
        <img src="http://placekitten.com/g/150/150">
        <p>Juan Polanco</p>
    </span>

    <span class="yifaa-pic">
        <img src="http://placekitten.com/200/200">
        <p>Yifaa Yapuncich</p>
    </span>
</div>
<h1>FAQs</h1>
    <section class="faq-section">
        <div class="faq-fitting-info">
            <h4 class="faq-fitting-title">Fitting Information</h4>
            <ol class="fag-fitting-info-list">
                <li><i>What goes into our calculations?</i></li>
                <p>Glad you asked!</p>
            </ol>
        </div>

        <div class="faq-suggestion-info">

        </div>
    </section>
{% endblock %}