{% extends "base.html" %}

{% block content %}
<h1>Support Me Team</h1>
<p>Three developers who saw a need for inclusivity in the realm of bra sizing and support. Abby, Juan, and Yifaa are committed to making bra sizing fun, accessible, and easy to do from your home!</p>
<div class="support-me-team-pics">

    <span class="abby-pic">
        <img src="http://placekitten.com/150/150">
    </span>

    <span class="juan-pic">
        <img src="http://placekitten.com/g/150/150">
    </span>

    <span class="yifaa-pic">
        <img src="http://placekitten.com/200/200">
    </span>
</div>
<h1>FAQs</h1>

{% endblock %}