{% extends "base.html"%}
{% block content %}
{% load static %}
<div class="bra-care-div">

    <!-- <h1>Bra Care</h1>
    <p>Bras are an important peice of clothing that you may <br> or not may be wearing everyday. Here are some tips <br>to keep
        your bras in the best shape.</p>
    </div>
    <div class="line-div"> </div> -->

    <div class="care-section">
        <div id="care-washing" class="care-part">
            <div class="care-tips">
            <h2 class="care-category">Washing</h2>
            <!-- <p style="text-align: center;">There are a few ways that you can wash your bra:</p> -->
            
            <div class="care-handwash">
                <div class="description">
                        
                    <h3 class="care-option">Handwash</h3>
                    <p class="care-option-description">If you can handwash your bra, then go for it! <br> Make sure to use
                        <strong>light detergent</strong>when possible.</p>
                    <img class="care-image" id="handwash-image" src="#" alt="">
                </div>
                
                <div class="line-div"> </div>
                <div class="question-answer">
                    <h4 class="care-question">Why handwash?</h4>
                    <p class="care-answer">You have more controll over the treatment of your bra <br> like how hard or soft
                        it is scrubbed/spun, what other <br> colored clothing it comes in contact with. </p>
                </div>
            
            </div>
            <div class="line-div"> </div>

            <div class="care-machine-wash">
                <h3 class="care-option">In the washing machine in a bra bag or pillow case.</h3>
                <p class="care-option-description">Let's be real: not everyone has the time to handwash their bras. <br>That
                    is okay! Putting your bra in a bra bag or pillow case means <br> there will be less wear and tear on the
                    bra from other peices of<br> clothing. Hooks, lace and straps can easily get caught on other <br> peices of 
                    clothing so putting a bra in a bra bag or pillow case <br>takes away the possibility of damges.</p>
                <img class="care-image" id="bra-bag-image" src="#" alt="">
                <img class="care-image" id="pillow-case-image" src="#" alt="">
            </div>
            
            <div class="line-div"> </div>








        </div>
        <div class="care-tips">

        <div id="care-drying" class="care-part">
            <h2 class="care-category">Drying</h2>
            <div class="care-dryer">
                <h3 class="care-option">NEVER put your bra in the dryer!</h3>
                <p class="care-option-description">Even if your bra is wireless a dryer will put more wear on your bra <br>
                    and will give it a shorter life span. It can lose it's shape quickly, and we <br> want this bra to last
                    as long as it can.</p>
            </div>
        </div>

            <div class="question-answer">
                <h4 class="care-question">How should I dry my bra then?</h4>
                <p class="care-answer">Hang it up or lay it flat. Hanging a bra up to dry it allows for more airflow <br>
                    than if it were laying flat, but either option is a great way to dry your bra.</p>

                <h4 class="care-question">I just washed my bra and have an event how do I dry it quickly?</h4>
                <p class="care-answer">This is totally your call, it is your bra! If you have a hair dryer you can hair
                    dry the cup, 
                    or put it in the dryer on the delicate cycle. We just suggest you don't use the dryer
                    everytime you wash your bra!</p>
            </div>
        </div>
    </div>


    </div>

    <div id="care-storage" class="care-part">
        <h2 class="care-category">Storage</h2>
        <p>There are two best ways to store your bra. One fo the biggest things is to<strong> not fold it</strong> this
            causes cups and frames deform over time.</p>
        <h3>Let it hangout! &nbsp <i>or &nbsp</i> Let it sleep!</h3>
        <section class="care-option-section">
            <div class="care-option">
                <div class="bra-care-pic">
                    <img class="care-image" id="hangout" src="{% static '/images/hanging_bra.jpg' %}" alt="">
                </div>
                <p class="care-option-description">Give your bra some time hang out. <br> We all need hangout time after
                    support others all day! Connect the hooks to the loosest set of eyes on the band so the bra is
                    relaxed as it hangs out.</p>
            </div>
            <div class="care-option">
                <div class="bra-care-pic">

                    <img class="care-image" id="lay-flat" src="{% static 'images/laying_bra.jpg' %}" alt="" />
                </div>

                <p class="care-option-description">Make a space for your bra in one drawer. Lay it flat so that other
                    clothing items are not impacting it. </p>
            </div>
        </section>
        </section>
    </div>
{% endblock %}