{% extends "base.html" %}
{% block content %}
<h1>Bra Fitting</h1>

    <form class="fitting-form" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fitting-step step-one">
        <h3 id="currently-wearing-label">Currently Wearing</h3>
        <div class="form-question-info"><p>So we will do everything to make this a safe and fun bra fitting experience for you. In order to do that, get as comfortable as possible. So go put on your most comfy t-shirt. If you have a bra you are more than welcome to wear one for the fitting. If you don't have a bra, no worries, that doesn't impact the fitting one bit!
        </p>
        </div>
        <div class="fitting-block">
            <div class="form-question-select">{{ form.currently_wearing }}</div>
            <img class="fitting-block-pic" src="http://placekitten.com/200/200">
        </div>
    </div>

    <div class="fitting-step step-two">
        <h3 id="band-measurement-wearing-label">Band Measurement</h3>
        <div class="form-question-info">This is not your band <i>size</i>. Crazy right! Bra fitting is a funny thing indeed because a band size is actually calculated by adding a few more inches to your band measurement.<br>
        This number is a tool to find your best support not a definition of who you are!
        </div>
        <div class="fitting-block">
            <div class="form-question-input">{{ form.band_measurement }}</div>
            <img class="fitting-block-pic" src="http://placekitten.com/g/200/200">
        </div>
        <ul class="fit-materials-list">
            <li>If your band measurement was an odd number we will add <strong>5</strong> inches to get your band size.</li>
            <li>If your band measurement was and even number we will add <strong>4</strong> inches to get your band measurement.</li>
        </ul>
    </div>

    <div class="fitting-step step-three">
        <h3 id="bust-measurement-wearing-label">Bust Measurement</h3>
        <div class="form-question-info">Now in order to get your cup size you will need to do one more measurement. Pick which breast you think needs the most support. You will measure that side only by using one hand to hold the measuring tape in the middle of your back. You will then bring the tape to the middle of the front of your chest with your other hand. Make sure the tape remains parallel to the ground and is measuring the fullest part of your breast. Mark that measurement. This measurement is another tool we'll use to get the best support.</div>
        <i>If you measured all the way around your bust that's fine!</i><br>
        <p>Just click here: {{ form.bust_circumference }}</p>
        <div class="fitting-block">
            <div class="form-question-input">{{ form.bust_measurement }}</div>
            <img class="fitting-block-pic" src="http://placekitten.com/300/300">
        </div>
    </div>
    <button type="submit" class="fit-submit-button save btn btn-default">Get Size</button>
</form>
</main>
{% endblock %}