{% extends "base.html"%}
{% block content %}
<h1>Bra Care</h1>
<p>Bras are an important peice of clothing that you may or not may be wearing everyday. Here are some tips to keep your bras in the best shape.</p>
<h2 class="care-category">Washing</h2>
<p>There are a few ways that you can wash your bra:</p>
<h3 class="care-option">Handwash</h3>
<p class="care-option-description">If you can handwash your bra, then go for it! Make sure to use <strong>light detergent</strong>when possible.</p>
<h4 class="care-question">Why handwash?</h4>
<p class="care-answer">You have more controll over the treatment of your bra like how hard or soft it is scrubbed/spun, what other colored clothing it comes in contact with. </p>
<h3 class="care-option">In the washing machine in a bra bag or pillow case.</h3>
<p class="care-option-description">Let's be real: not everyone has the time to handwash their bras. That is okay! Putting your bra in a bra bag or pillow case means there will be less wear and tear on the bra from other peices of clothing. Hooks, lace and straps can easily get caught on other peices of clothing so putting a bra in a bra bag or pillow case takes away the possibility of damges.</p>

<h2 class="care-category">Drying</h2>
<h3 class="care-option">NEVER put your bra in the dryer!</h3>
<p class="care-option-description">Even if your bra is wireless a dryer will put more wear on your bra and will give it a shorter life span. It can lose it's shape quickly, and we want this bra to last as long as it can.</p>
<h4 class="care-question">How should I dry my bra then?</h4>
<p class="care-answer">Hang it up or lay it flat. Hanging a bra up to dry it allows for more airflow than if it were laying flat, but either option is a great way to dry your bra.</p>
<h4 class="care-question">I just washed my bra and have an event how do I dry it quickly?</h4>
<p class="care-answer">This is totally your call, it is your bra! If you have a hair dryer you can hair dry the cup, or put it in the dryer on the delicate cycle. We just suggest you don't use the dryer everytime you wash your bra!</p>

<h2 class="care-category">Storage</h2>
<p>There are two best ways to store your bra. One fo the biggest things is to<strong> not fold it</strong> this causes cups and frames deform over time.</p>
<h3 class="care-option">Let it hangout!</h3>
<p class="care-option-description">Give your bra some time hang out. We all need hangout time after support others all day! Connect the hooks to the loosest set of eyes on the band so the bra is relaxed as it hangs out.</p>
<h3 class="care-option">Let it sleep!</h3>
<p class="care-option-description">Make a space for your bra in one drawer. Lay it flat so that other clothing items are not impacting it. </p>

{% endblock %}

