{% extends "base.html" %}
{% block content %}
{% load static %}
<main class="bra-fitting-index-content">
<h1>Welcome to Support Me</h1>

<section class="bra-fit-landing">

<p>We are here to <i>support you</i> on your search for the best fitting bra. No matter who you are or what your story is, you are welcome here!</p>
<p class="key-word">About 60% of people who wear bras are wearing the wrong size. This can lead to physical discomfort.</p>
<br>
<div class="intro-extra-info">
        <p>A bra size is usually shown as two numbers followed by a letter. The two numbers represent a band size and the letter represents a cup size. There are a few steps that we will take to get these values. Yes, calculations are involved. Yes, measurements are involved. These measurements are taken so you can find the bra size that will give you the most support. 
        <br><br>
        These measurements do not define how amazing you are or your value as a person (that value is uncalculateable because you are too awesome for numbers!).</p>
    </div>
    <h3>Get ready for your fitting in two steps.</h3>

        <div class="bra-fit-setup">
            
        <div class="hvrbox">

            <img src="{% static 'images/shirt.png' %}" alt="Get comforatble in favorite tshirt">
                <p class="hover-text">Put on your most comfy t-shirt. If you have a bra you are more than welcome to wear one for the fitting.
                </p>
        </div>
        <div class="hvrbox">
            <img src="{% static 'images/materials.png' %}" alt="Gather some materials">
                <p class="hover-text">Next we need to get a few other materials to help with the fitting process: Measuring tape <i>or</i> a string and ruler.
                </p>
        </div>
    </div>
    <div class="intro-extra-info">
       
        <button class="get-fit-button" type="button"><a href="{% url 'brafitting' %}">Get Your Fit</a></button>
    </div>
</section>
{% endblock %}