{% extends "base.html"%}
{% block content %}
{% load static %}
<!-- <div class="profile-images" > 
    <img src="https://i.ibb.co/ZdzHtb5/ezgif-com-video-to-gif-2.gif" alt="ezgif-com-video-to-gif-2" />
</div> -->
<div class="profile-page">
    <div class="profile-welcome-div">
        <p> Welcome <strong class="username"> {{ user }}</strong>, your measurement history is listed below.</p>
    </div>
    <div class="history-info">
        {% if brafitting %}
        {% for brafitting in brafitting %}
            <div class="history-box">
                <div class="profile-item">Estimated bra size: 
                    <p class="bra-size-profile"> {{brafitting.bra_size}}
                    </p>
                </div>
                <div class="profile-item">
                    {% for suggestion in brafitting.suggestions.all %}
                    <p> Suggested Bra: </p>
                    <p style=" font-size: 1.6rem; color: #8787e6;">
                    {{suggestion}}
                    </p>
                        {% endfor %}
                </div>
                <div class="profile-item"> 
                    <small style="color:rgb(19, 167, 136);"> - Date measured : {{brafitting.date_sized}} </small> <br>
                    <form class="delete-bra-item" method="GET">
                        {% csrf_token %}
                        {{ form.fitting_session }}
                        <button class=" bra-delete-button"> <a href="{% url 'delete' %}"> Delete </a> </button>
                    </form>
                </div>
                <br>
            </div>
        {% endfor %}
        {% else %}
            <p> You have no measurements saved, click <a href="{% url 'brafitting' %}"> here </a> to find your best fit!</p>
        {% endif %}
    </div>
</div>
{% endblock %}