{% extends "base.html" %}

{% block content %}
{% if bra_size %}
<form method="POST" class="suggestion-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <h1 class="form-title">Support Profile</h1>

    <section class="suggestion-step sugg-step-start">
        <h3>Your estimated bra size: <strong>{{bra_size}}</strong></h3>
        <div class="suggestion-step-column">
            <p>To get <i class="key-word">band size</i>, we added 4" if <i class="key-word">band measurement</i> is even, and 5" if measurement is odd.</p>
            <p>The <i class="key-word">cup size</i> is determined by the <i class="key-word">band size</i> subracted from the bust circumeference, with some additional calculations based on what you're currently wearing. There is more to finding the bra that fits you best than <i>just</i> having a bra size! We also need to consider a few things about bras that impact how what kind you may like.
            </p>
            {% else %}
            <p>Try the <a href="{% url 'brafitting' %}">form</a> again! Something wet wonky...</p>
            {% endif %}
        </div>
        <button class="sugg-step-one-next-button save btn btn-default" type=button>Continue</button>
    </section>
        
    <section class="suggestion-step sugg-step-one">
        <h3 id="breast-placement-label">Breast placement</h3>
            <div class="suggestion-step-column">
                <p>This is taken into account in order to determine what width the center gore should be for optimum comfort and support.</p>
                <label for="{{ form.breast_placement.id_for_label }}">Choose the placement that you most identify with:</label>
                {{ form.breast_placement }}
            </div>
    </section>
    <section class="suggestion-step sugg-step-two">
        <h3 id="bra-wire-label">Wire Preference</h3>
        <div class="suggestion-step-column">
            <p>Bra frame are either supported with or without underwire.  Comfort here comes down to personal preferences and also the level of support that you want/need, with wire having more support and underwire usually having less.</p>
            <label for="{{ form.bra_wire.id_for_label }}">How do you feel about wires:</label>
            {{ form.bra_wire }}
        </div>
    </section>
    <section class="suggestion-step sugg-step-three">
        <h3 id="breast-shape-label">Breast shape</h3>
        <div class="suggestion-step-column">
            <p>Frames of bras(shape of cups) are each geered towards fully supporting a specific breast shape. Who knew? <i>We did!</i>
            </p>
            <label for="{{ form.breast_shape.id_for_label }}">What breast shape do you most identify with:</label>
            {{ form.breast_shape }}
        </div>
    </section>
    <section class="suggestion-step sugg-step-four">
        <h3 id="bra-padding-label">Padding Preference</h3>
        <div class="form-question-body">Yes, level of padding is a preference when it comes to comfort. Although pushup and lightly-lined bras will give a bit more support. </div>
        <div><label>What is the main type of padding that you are interested in?{{ form.bra_padding }}</label></div>
    </section>

    <button type="submit" class="submit-button">See Recs!</button>
    </form>
{% endblock %}